@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;


}

body {
    max-width: 1280px;
    /* display: flex;
  flex-direction: column; */
    font-family: 'Outfit', sans-serif;
}

/*Encabezado*/
header {
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;

}

main {
    /* padding: 0px 40px ; */
}

.logo {
    display: flex;
    /* background-color: aqua; */
    height: 35px;
    width: 217px;
}

.header-center {
    display: flex;
    /* background-color: azure; */
    gap: 32px;
    align-items: center;
    height: 35px;
    padding: 12px;
}

.center {
    display: flex;
    color: white;
    text-decoration: none;
    /* background-color: aqua; */


}

.header-right {
    display: flex;
    align-items: center;
    gap: 11px;

}

a {
    color: white;
    text-decoration: none;
}

.button {
    background-color: #515051;
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    color: white;
}
.titule-2 {
    display: flex;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #2A5B45;

}